$font-content: din-bold, Helvetica;
@mixin animation($animate...) {
  -webkit-animation: $animate;
  animation: $animate;
}

@mixin fill-mode($fillmode...) {
  -webkit-animation-fill-mode: $fillmode;
  animation-fill-mode: $fillmode;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  transform: $transform;
}


@mixin transition($transition...) {
  -webkit-transition:$transition;
  transition: $transition;
}

.contentPages {
  //background-color: #333;
  width: 100%;
  height:100%;

  .content {
    padding: 0 6%;
    font-size: 11px;
    height: 100%;
    position: absolute;
    visibility: hidden;
    color: white;

    &.show {
      //@include transform(translateX(100%));
      visibility: visible;
      @include animation(show-detail 0.4s ease-out);
      @include fill-mode(forwards);
    }

    &.hide {
      visibility: hidden;
      //@include transform(translateX(100%));
      @include animation(hide-detail 0.4s ease-out);
      @include fill-mode(forwards);
    }


    @keyframes show-detail {
      0% {
        @include transform(translateX(100%));
      }
      100% {
        @include transform(translateX(0));
      }
    }

    @-webkit-keyframes show-detail {
      0% {
        @include transform(translateX(100%));
      }
      100% {
        @include transform(translateX(0));
      }
    }

    @keyframes hide-detail {
      0% {
        @include transform(translateX(0%));
      }
      100% {
        @include transform(translateX(100%));
      }
    }

    @-webkit-keyframes hide-detail {
      0% {
        @include transform(translateX(0%));
      }
      100% {
        @include transform(translateX(100%));
      }
    }

    img {
      width: 100%;
    }

    h1 {
      padding-left: 45px;
      padding-top: 5px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: auto 30px;
    }
    h3 {
      font-size: 18px;
      text-transform: uppercase;
    }

    hr {
      height: 1px;
      background-color: #fff;
    }


  }

  .content.opening {
    //visibility: hidden;
    .title {
      font-size: 24px;
      color: white;
      white-space: pre-line;
      text-transform: uppercase;
      font-family: $font-content;
      padding-left: 0;
      background: none;
    }

    p {
      font-size: 20px;
    }
  }

  .content.malls {
    visibility: hidden;
    h1 {
      background-image: url('../images/icon-title-malls.png');
    }
  }

  .content.ecommerce {
    visibility: hidden;
    h1 {
      background-image: url('../images/icon-title-ecommerce.png');
    }
  }

  .content.retail {
    visibility: hidden;
    h1 {
      background-image: url('../images/icon-title-retail.png');
    }
  }

  .content.demographics {
    visibility: hidden;
    h1 {
      background-image: url('../images/icon-title-demographics.png');
    }
  }
  p {
    color:white;
  }


}

@media only screen
and (min-height: 1000px)
{
  .content.opening {
    p {
      font-size: 20px;
    }
  }
}


@media only screen
and (min-height: 900px)
and (max-height: 999px)
{
  .content.opening {
    p {
      font-size: 18px !important;
    }
  }
}


@media only screen
and (max-height : 899px)
and (min-height : 600px) {
  .content.opening {
    p {
      font-size: 17px !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
}
