$font-content: din-bold, Helvetica;

.contentPages {
  width: 477px;

  .content {
    font-size: 10px;

    .title {
      font-size: 24px;
      color: white;
      padding: 0;
      margin: 0;
      white-space: pre;
      text-transform: uppercase;
      font-family: $font-content;
    }
  }
}
