@mixin transform($transform...) {
  -webkit-transform: $transform;
  transform: $transform;
}

.panelSlideShowThumb {
  position: relative;
  width: 90%;
  margin: 2% auto;

  .bx-wrapper {
    height:auto !important;
  }

  ul {
    padding:0;
    li {
      margin-right: 20px;
      width:173px;
      height:120px;
      cursor: pointer;
    }
  }

  .bx-wrapper {
    width: 92%;
  }

  .bx-viewport {
    //width: 100%!important;
    margin: 0 auto !important;
    height:120px;
    z-index:2;
  }

  .bx-controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:1;

    a {
      width: 45px;
      height: 45px;
    }

    .bx-prev {
      position: absolute;
      left: -5%;
      top: 50%;
      margin-top: -11px;
      background: url(../images/leftarrow.png) no-repeat;

    }

    .bx-prev:hover {
      background-position: 0px -43px;
    }

    .bx-next {
      position: absolute;
      top: 50%;
      right: -5%;
      margin-top: -11px;
      background-position: 0px 0;
      background: url(../images/rightarrow.png) no-repeat;
    }

    .bx-next:hover {
      background-position: 0px -43px;
    }

  }
}


@media only screen
and (min-width : 1700px) {
  .bx-prev {
    position: absolute;
    width: 62px !important;
    height: 61px !important;
    background: url(../images/leftarrow.png) no-repeat;
    background-position: 0px 0px;
    background-size: 100% auto !important;
    margin-top: -31px !important;

    &:hover {
      background-size: 100% auto !important;
      background-position: 0 -59px !important;
    }
  }

  .bx-next {
    width: 62px !important;
    height: 61px !important;
    background: url(../images/rightarrow.png) no-repeat;
    background-position: 0px 0px;
    background-size: 100% auto !important;
    margin-top: -31px !important;

    &:hover {
      background-size: 100% auto !important;
      background-position: 0 -59px !important;
    }
  }
}
