$font-stack:    din-bold, sans-serif, Helvetica;
$font-content: din-bold, Helvetica;
$font-menu: din-mittelschrift-regular, din-bold, Helvetica;
$font-footer: Helvetica, sans-serif;
$primary-color: black;
$topbar-height: 8%;

@mixin animation($animate...) {
  -webkit-animation: $animate;
  animation: $animate;
}

@mixin fill-mode($fillmode...) {
  -webkit-animation-fill-mode: $fillmode;
  animation-fill-mode: $fillmode;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  transform: $transform;
}


@mixin transition($transition...) {
  -webkit-transition:$transition;
  transition: $transition;
}

@mixin graidentBackground ($r,$g,$b,$a,$hex,$r2,$g2,$b2,$a2,$hex2) {
  background: rgba($r,$g,$b,$a);
  background: -moz-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($r,$g2,$b2,$a)), color-stop(100%, rgba($r2,$g2,$b2,$a2)));
  background: -webkit-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%);
  background: -o-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%);
  background: -ms-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%);
  background: linear-gradient(to bottom, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%);
}

@mixin opacity ($o) {
  opacity: $o;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$o*100)";
  -moz-opacity: $o;
}


html, body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  font: 100% $font-stack;
  color: $primary-color;
  background: white;
  background-color: white;
  //@include transition(all 0.6s ease-out);
  font-family: SimHei,STHeiti;
  scrollbar-face-color: #f37421;
  scrollbar-track-color: #727576;

}

p {
  font-family: SimHei,STHeiti;
}

.desc {
  font-family: SimHei,STHeiti;
}

.title {
  font-family: SimHei,STHeiti;
}


body.noscroll
{
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

a {
  img {
    border:0;
  }
}

#wrapper {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  //border: 1px solid red;
  box-sizing: border-box;
  min-width: 800px;

  #testing {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top:200px;
    left:54px;
    z-index:100;
  }

  #topBar {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 8%;
    min-height:55px;
    background-color: white;
    border-bottom: 2px solid #f37421;
    z-index:3;
    @include transform(translateY(-100%));
    @include transition(all 0.4s ease-out);

    &.show {
      @include transition(all 0.4s ease-out);
      @include transform(translateY(0%));
    }

    #logo {
      display: block;
      position: relative;
      width: 16%;
      height: 100%;
      cursor: pointer;
      float:left;
      //border:1px solid blue;

      #logoImg {
        display: block;
        width: 75%;
        height:100%;
        margin: 0 auto;
        white-space: nowrap;

        img {
          //display: inline-block;
          vertical-align: middle;
          margin: -4px;
        }
      }
    }
    
    #lang  {
      position: absolute;
      border-left: 1px solid #a1a1a1;
      right:0;
      width:4%;
      height:100%;

      #langImg {
        width:100%;
        height:100%;
        position:absolute;
        margin:0 auto;
        text-align: center;
      }

      img {
        vertical-align: middle;
        width: 50%;
        height:auto;
      }
    }

    ul {
      position: relative;
      float:left;
      width: 80%;
      height:100%;
      padding:0;
      margin:0;
      list-style: none;
      //border:1px solid orange;

      .menu.chosen #icon1, .menu.chosen #icon2, .menu.chosen #icon3, .menu.chosen #icon4, .menu.chosen #icon5 {
        background-position: 0 -25px;

      }

      .menu.chosen .titles {
        color: white;
      }

      li {
        position: relative;
        float:left;
        padding:0;
        margin:0;
        height:100%;
        //background-color: #f37421;
        background-color: white;
        cursor: pointer;
        @include transition(background-color 0.6s ease-out);

        &#menu1 {
          width: 20%;
        }

        &#menu2 {
          width: 20%;
        }

        &#menu3 {
          width: 20%;

          .menuContents {
            width:72%;
            margin:0 auto;
            height:100%;
          }
          .titles {
            //white-space: initial;
            //width: 87%;
          }
        }

        &#menu4 {
          width: 20%;
        }

        &#menu5 {
          width: 20%;
        }


        &.chosen {
          background-color: #f37421;
        }

        &:hover {
          background-color: #f37421;
        }

        .content {
          height: 100%;
          border-left: 1px solid #a1a1a1;
          border-right: 1px solid white;
          white-space: nowrap;
          text-align: center;

          .icons {
            display: inline-block;
            vertical-align: middle;
            background-position: 0 0;
            background-size: 100% auto;
            background-repeat: no-repeat;
          }

          #icon1 {
            width: 25px;
            height: 23px;
            background-image: url(../images/icon1.png);
            background-position: 0 0px;
          }

          #icon2 {
            width: 32px;
            height: 23px;
            background-image: url(../images/icon2.png);
            background-position: 0 0px;
          }

          #icon3 {
            width: 25px;
            height: 24px;
            background-image: url(../images/icon3.png);
            background-position: 0 0px;

          }

          #icon4 {
            width: 15px;
            height: 23px;
            background-image: url(../images/icon4.png);
            background-position: 0 0px;
          }

          #icon5 {
            width: 25px;
            height: 23px;
            background-image: url(../images/icon5.png);
            background-position: 0 0px;
          }

          &:hover #icon1, &:hover #icon2, &:hover #icon3, &:hover #icon4, &:hover #icon5 {
            background-position: 0 -25px;
          }

          .titles {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1.5%;
            text-align: left;
            font-size: 11px;
            color:#f37421;
            text-transform: uppercase;
            font-family: $font-menu;
          }

          &:hover .titles {
            color: white;
          }
        }

        &:hover .content {
          border-left: 1px solid #b3a399;
          border-right: 1px solid #dc986b;
        }

        &.chosen .content {
          border-left: 1px solid #b3a399;
          border-right: 1px solid #dc986b;
        }
      }
    }
  }



  #middleBar {
    position: relative;
    width:100%;
    height: 100%;
    top: 8%;
    opacity: 1;
    //@include animation(show-middleBar 0.8s ease-out 0.3s);
    //@include fill-mode(forwards);

    #homePage {
      position: relative;
      left:0;
      top:0;
      width: 100%;
      //min-height:1000px;
      //padding-bottom: 56%;
      background: url("./../images/bg.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

      .closeButton {
        width: 7%;
        position: absolute;
        right: 3%;
        top: 5%;
        cursor: pointer;
        z-index:80;
      }

      .emailForm {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 14%;
        margin: auto;
        width: 28%;
        padding-bottom: 15%;
        background-color: black;
        @include graidentBackground(1,1,1,0.8,#000000,1,1,1,0.8,#000000);
        @include transition(opacity 0.5s ease-out);
        text-align: center;
        color:white;
        font-family: din-mittelschrift-regular;
        -webkit-font-smoothing: antialiased;
        opacity: 0;

        &.show {
          opacity: 1;
        }

        &.hide {
          opacity: 0;
        }

        .contents {
          position: absolute;
          left:0;
          top: 11%;
          bottom: 11%;
          height: auto !important;

          .form2 {
            position: absolute;
            width: 100%;
            height: 100%;
            @include transition(opaicty 0.4s ease-out);
            //@include transform(translateY(-50%));
            img {
              width: 60%;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }

          .form1 {
            @include transition(opaicty 0.4s ease-out);
          }

          .closeArea {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
          }

          p {
            width: 80%;
            margin: 0 auto;
            padding: 2%;
            font-size: 13px;
          }

          .formButtonBg {
            position: relative;
            width: 66%;
            height: auto;
            left: 0;
            right: 0;
            margin: auto;
            z-index:4;
          }

          .myInput {
            background-color: transparent;
            position: absolute;
            width: 100%;
            height:100%;
            left: 0;
            right: 0;
            margin: auto;
            padding:0 20px;
            border:0;
            font-size: 14px;
            line-height: 22px;
            z-index:5;
            color: #f37421;
          }

          .submitBtn {
            position:relative;
            margin: 5% auto;
            width: 24%;
          }
        }
      }

      #homePageBg {
        position: absolute;
        left:0;
        top:0;
      }

      .contents {
        position: absolute;
        left:0;
        top:0;
      }

      #chinaMall {
        position: relative;
        width:81%;
        height:100%;
        margin: 0 auto;
        opacity: 0;
        @include animation(show-chinaMall 1.5s ease-in-out 0.6s);
        @include transform(scale(0.8));
        @include fill-mode(forwards);

        @keyframes show-chinaMall {
          0% {
            @include transform(scale(0.8));
            opacity: 0;
          }
          100% {
            @include transform(scale(1));
            opacity: 1;
          }
        }

        @-webkit-keyframes show-chinaMall {
          0% {
            @include transform(scale(0.8));
            opacity: 0;
          }
          100% {
            @include transform(scale(1));
            opacity: 1;
          }
        }

        .center {
          height:88%;
        }

        img {
          width:98%;
          vertical-align: middle;
        }
      }

      .buttonsBox {
        width: 100%;
        text-align: center;
        background-color: black;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99343223, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99343223, endColorstr=#99000000)";
      }

      .alignCenter {
        position: relative;
        margin: 24% auto;
      }

      .leftButtons {
        position: absolute;
        left:0;
        bottom:3%;
        width:9%;
        padding-bottom: 18%;
        //border:1px solid green;

        #downloadWhitePaper {
          @extend .buttonsBox;
          display: block;
          position: absolute;
          width:100%;
          height:48%;
          cursor: pointer;
          //border:1px solid red;

          &:hover #dlPaperIcon{
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          }

          #dlPaperIcon {
            @extend .alignCenter;
            width: 56%;
            opacity: 0.6;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
            //height: 56%;
          }
        }

        #viewPrezi {
          @extend .buttonsBox;
          position: absolute;
          top: 52%;
          width:100%;
          height:48%;
          cursor: pointer;
          //border:1px solid red;

          &:hover #viewPreziIcon{
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          }

          #viewPreziIcon {
              @extend .alignCenter;
              width: 56%;
              opacity: 0.6;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
              //height: 44%;
            }
        }
        img {
          width: 100%;
        }
      }

      .rightButtons {
        position: absolute;
        right:0;
        bottom:3%;
        width:9%;
        padding-bottom: 18%;
        //border:1px solid green;

        #socialMedia {
          @extend .buttonsBox;
          position: absolute;
          width:100%;
          height:48%;
          cursor: pointer;

          //border:1px solid red;

          #searchBar {
            position: relative;
            width: 100%;
            //border: 1px solid #ff0;
            margin:12% 0 7%;
            cursor: pointer;

            #searchBarBg {
              position: relative;
              width:80%;
              height:auto;
              margin: 0 auto;
              //border: 1px solid black;
              line-height: 0;
            }
          }

          #socialShare {
            position: relative;
            width: 70%;
            margin: 0 auto;
            height:auto;
            //border: 1px solid black;
            overflow: hidden;
            margin: 20% auto;

            .icons {
              position: relative;
              float:left;
              width: 24%;
              //border: 1px solid red;
              padding:9% 12%;
              opacity: 0.6;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

              &:hover {
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              }
            }
          }
        }

        #aboutAsia {
          @extend .buttonsBox;
          position: absolute;
          top:52%;
          width: 100%;
          height: 48%;
          pointer:cursor;
          //border:1px solid yellow;

          &:hover #asiaIcon{
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          }

          #asiaIcon {
            @extend .alignCenter;
            width:60%;
            opacity: 0.6;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
            //height: 49%;
          }
        }

        img {
          width:100%;
          height:auto;
        }
      }
    }

    #scrollDownBtn {
      position: absolute;
      bottom: 3%;
      width: 11%;
      height: auto;
      margin: auto;
      cursor: pointer;
      left: 0;
      right: 0;
      z-index: 4;
      @include transition(all 0.6s ease-in-out);

      &.show {
        @include transform(translateY(0));
        opacity: 1;
      }

      &.hide {
        @include transform(translateY(-70px));
        opacity: 0;
      }
    }

    .fullSize {
      top:0;
      left:0;
      width:100%;
      height:100%;
    }

    /*Main View*/
    #pagesApp {
      position: absolute;
      @extend .fullSize;
      visibility: visible !important;
      opacity: 1 !important;
      background-color: white;

      .contents {
        position: absolute;
        width:100%;
        height:100%;
      }

      .mainView {
        position: absolute;
        width: 100%;
        //@extend .fullSize;
        position: absolute;
        background-color: black;
        //overflow: hidden;
        -webkit-font-smoothing: antialiased;
        z-index:2;
        padding-bottom: 7%;

        #pair1 {
          box-shadow: 0 0 19px 0 rgba(100,100,100,.4);
          padding-bottom: 58% !important;
          overflow-x: hidden;
        }

        #pair2 {
          background: url("./../images/brangbg.jpg");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }

        #pair3 {
          background: url("./../images/digitalbg.jpg");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          //background-attachment: fixed;
          background-size: cover;
        }

        #pair4 {
          background: url("./../images/mobilebg.jpg");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }

        #pair5 {
          background: url("./../images/mallbg.jpg");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          //background-attachment: fixed;
          background-size: cover;
        }


        .pairs {
          position: relative;
          width:100%;
          //padding-bottom: 56%;
          cursor: pointer;

          .no-cssgradients .iehide {
            visibility: hidden;
          }
        }

        .contentSize {
          position: absolute;
          width: 50%;
          height: 100%;
          overflow: hidden;
        }

        .leftContent {
          @extend .contentSize;
          left: 0;

          .contentImage {
            cursor: pointer;
          }
        }

        .rightContent {
          @extend .contentSize;
          right: 0;

          .contentImage {
            cursor: pointer;
          }
        }

        .contentText {
          position: absolute;
          width:100%;
          height:24%;
          min-height: 162px;
          left:0;
          bottom:0;
          background-color: black;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.6);

          .title {
            font-size: 38px;
            color: white;
            padding: 3%;
            white-space: pre;
            text-transform: uppercase;
            font-family: $font-content;
          }

          .desc {
            position: absolute;
            top: 62%;
            font-size: 18px;
            color: #fff;
            padding: 0 3%;
            font-family: $font-menu;
          }
        }

        .contentButton {
          position: absolute;
          width: 20%;
          right: 0;
          top: 0;
          padding: 3% 0;
          font-family: $font-menu;

          &-img {
            width:27%;
            margin: 0 auto;
            cursor: pointer;
          }

          &-text {
            font-size: 10px;
            color:white;
            text-align: center;
            margin-top: 4%;
          }
        }

        .videoIcon {
          position: absolute;
          left: 0;
          width: 11%;
          right: 0;
          top: 50%;
          margin: -18% auto;
        }


        img {
          width:100%;
          height:auto;
        }
      }

      /*--------------------info---------------*/
      .info {
        @extend .fullSize;
        background-color: white;

        .contentBg {
          position: absolute;
          width:100%;
          height:auto;
          z-index:1;
        }

        .map {
          position: absolute;
          left:0;
          width:66%;
          height:100%;
          z-index:2;

          .bg {
            position: absolute;
            left:2%;
            right:2%;
            top:2%;
            bottom:2%;
            text-align: center;

            .container {
              position: relative;
              width:88%;
              height:100%;
              min-width: 550px;
              margin: 0 auto;

              img {
                width: 99%;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }

          .buttons {
            @extend .fullSize;

            .button-unit.notChosen:hover .buttonContainer .buttonTop .buttonTitle, .button-unit.chosen .buttonContainer .buttonTop .buttonTitle,
            .button-unit:hover .buttonContainer .buttonContent, .button-unit.chosen .buttonContainer .buttonContent {
              color: white;
            }

            .button-unit.notChosen:hover .buttonContainer .buttonLine, .button-unit.chosen .buttonContainer .buttonLine {
              background-color: white;
            }

            .button-unit.notChosen:hover .buttonContainer .buttonDetail, .button-unit.chosen .buttonContainer .buttonDetail {
              @include graidentBackground(241,116,33,1,#f17421,193,93,26,1,#c15d1a);
              border: 1px solid #f69c61;
            }

            .button-unit {
              position: absolute;
              width: 36%;
              padding-bottom: 16%;
              background-color: white;
              border: 2px solid #6f6f6f;
              border-radius: 7px;
              box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
              @include transition(background-color 0.6s ease-out);

              &.chosen {
                background-color: #f37421;
                border: 2px solid white;
              }

              &:hover {
                background-color: #f37421;
                border: 2px solid white;
              }

              .buttonContainer {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;

                .buttonBg {
                  position:absolute;
                }

                .buttonTop {
                  position:relative;
                  width:100%;
                  text-align: center;
                  height:40%;

                  img {
                    width:11%;
                    display:inline-block;
                    vertical-align: middle;
                  }

                  .buttonTitle {
                    display:inline-block;
                    vertical-align: middle;
                    white-space: pre;
                    text-transform: uppercase;
                    margin-left: 15px;
                    font-size: 13px;
                    line-height: 16px;
                    color: #6f6f6f;
                    //text-align: left;
                  }
                }

                .buttonLine {
                  position:relative;
                  background-color: #6f6f6f;
                  height: 2px;
                  margin: 0 auto;
                  width: 65%;
                }

                .buttonDetail {
                  position: absolute;
                  bottom: -12%;
                  width: 45%;
                  padding-bottom: 9%;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  background-color: #6f6f6f;
                  border: 1px solid #7B7373;
                  border-radius: 23px;
                  text-align: center;
                  cursor: pointer;
                  @include graidentBackground(111,111,111,1,#6f6f6f,88,88,88,1,#585858);
                  @include transition(background-color 0.6s ease-out);

                  .buttonDetailContainer {
                    position: absolute;
                    height: 100%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    color: white;
                    font-size: 13px;

                    .buttonDetailText {
                      text-transform: uppercase;
                    }
                  }
                }

                .buttonContent {
                  position: relative;
                  width: 88%;
                  height:39%;
                  margin: 0 auto;
                  padding: 1% 0;
                  text-align: center;
                  color: #6f6f6f;
                  font-family: $font-menu;
                  white-space: pre-line;
                  .buttonText {
                    vertical-align: middle;
                    display: inline-block;
                    .boldText {
                      font-weight: bold;
                    }
                  }
                }
              }
            }

            #button1 {
              left: 12%;
              top: 15%;

              .buttonTop {
                img {
                  width:6%;
                }
              }
            }

            #button2 {
              left: 58%;
              top: 21%;

              .buttonTop {
                img {
                  width:8%;
                }
              }

            }

            #button3 {
              left: 8%;
              top: 47%;

              .buttonTop {
                img {
                  width:6%;
                }
              }
            }

            #button4 {
              left: 52%;
              top: 63%;

              .buttonTop {
                img {
                  width:8%;
                }
              }
            }
          }
        }

        .detail {
          position: absolute;
          right:0;
           width:34%;
           height:100%;
           background-color: #6f6f6f;
          z-index:2;
          overflow: hidden;
        }

        img {
          width:100%;
          height:auto;
        }
      }


      /*--------------------panel---------------*/
      .panel {
        @extend .fullSize;
        visibility: hidden;
        position: fixed;
        height: 84%;
        top: 8%;
        background-color: #282b2d;
        background-color: rgb(40,43,45);
        z-index:2;
        overflow: hidden;
        @include transform(translateX(-100%));
        @include transition(all 0.8s ease-out);

        &.show {
          visibility: visible;
          @include transform(translateX(0%));
          //@include animation(show-panel 0.6s ease-out);
          //@include fill-mode(forwards);
          z-index:2;
        }

        &.hide {
          visibility: hidden;
          @include transform(translateX(-100%));
          //@include animation(hide-panel 0.6s ease-out);
          //@include fill-mode(forwards);
        }

        @keyframes show-panel {
          0%   {
            @include transform(translateX(-100%));
            opacity:1;
          }

          100%   {
            @include transform(translateX(0px));
            opacity:1;
          }
        }

        @-webkit-keyframes show-panel {
          0%   {
            @include transform(translateX(-100%));
            opacity:1;
          }

          100%   {
            @include transform(translateX(0px));
            opacity:1;
          }
        }

        @keyframes hide-panel {
          0%   {
            @include transform(translateX(0px));
            opacity:1;
          }

          100%   {
            @include transform(translateX(-100%));
            opacity:1;
          }
        }

        @-webkit-keyframes hide-panel {
          0%   {
            @include transform(translateX(0px));
            opacity:1;
          }

          100%   {
            @include transform(translateX(-100%));
            opacity:1;
          }
        }

        .panelBg {
          position: absolute;
        }
        .contentsClass {
          position: absolute;
          width: auto;
          height: auto;
        }

        .contents {
          @extend .contentsClass;
          left: 4%;
          right: 4%;
          top: 9%;
          bottom: 7%;
          -webkit-font-smoothing: antialiased;


          &-video {
            @extend .contentsClass;
            left: 4%;
            right: 4%;
            top: 9%;
            bottom: 7%;
            -webkit-font-smoothing: antialiased;

            .socialIcons {
              margin-top: 12%;

              ul {
                position: relative;
                float: left;
                bottom: 0;

                li {
                  width:15%;
                  cursor: pointer;
                  opacity: 0.6;

                  &:hover {
                    opacity: 1;
                  }

                  &.twitter {
                    width: 19%;
                    top:2px;
                  }

                  &.weibo {
                    width: 19%;
                    top:2px;
                  }
                }
              }
            }

            .panelText {
              display:block;
              position: absolute;
              width: 32%;
              height: 100%;
              top: 10%;
            }

            .title {
              display:block;
              position: relative;
              color: white;
              white-space: pre-line;
              margin-bottom: 20px;
              text-transform: uppercase;
            }

            .wrap {
              position: relative;
              height: auto;
              color: #fff;

              .desc {
                width: 90%;
                font-family: din-mittelschrift-regular,din-bold,Helvetica;
              }
            }

            .panelVideo {
              position: absolute;
              width: 67%;
              padding-bottom: 37%;
              right:0;
              top: 10%;

              .video {
                position: absolute;
                width:100%;
                height:100%;

                iframe {
                  border: 0;
                  position: absolute;
                  width:100%;
                  height:100%;
                }
              }
            }
          }

          .panelText {
            display:table;
            position: absolute;
            width: 50%;
            height: 100%;

            .title {
              display:table-row;
              color: white;
              white-space: pre-line;
              text-transform: uppercase;
            }

            .seperator {
              display:table-row;
              height: 20px;
            }

            .scroll{
              display:table-row;
              height: 100%;
              font-size: 27px;
              //border: 1px solid green;

              .scrollWrap {
                position: relative;
                height:100%;
                width: 90%;

                .wrap {
                  position: relative;
                  height: 100%;
                  overflow: auto;
                  color: #fff;

                  .desc {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 94%;
                    font-family: $font-menu;
                    white-space: pre-line;
                    line-height: 27px;
                  }
                }
              }
            }

            ::-webkit-scrollbar {
              -webkit-appearance: none;
              width: 5px;
              background-color: #727576;
              border-radius: 4px;
            }
            ::-webkit-scrollbar-thumb {
              border-radius: 4px;
              background-color: rgba(243,116,33,1);
              -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
            }


          }

          .panelImage {
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0;
            overflow: hidden;



            .image {
              width:100%;

              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      .panelClose {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        cursor: pointer;
      }

      .socialIcons {
        position: relative;
        width: 100%;
        height: 16%;

        ul {
          position: absolute;
          bottom: 7%;
          width: 39%;
          padding: 0;
          margin: 0;
          list-style: none;
          cursor: pointer;

          li {
            position: relative;
            width: 10%;
            max-width: 30px;
            float: left;
            margin-right: 8%;
            line-height: 0;
            opacity: 0.6;

            &:hover {
              opacity: 1;
            }
          }

          li.twitter {
            width: 13%;
          }

          li.weibo {
            width: 13%;
          }
        }
      }
    }
  }

  #bottomBar {
    position: fixed;
    width:100%;
    height: 8%;
    bottom:0;
    background-color: black;
    font-family: $font-footer;
    z-index:3;
    @include transform(translateY(100%));
    @include animation(show-bottomBar 0.4s ease-out);
    @include fill-mode(forwards);

    @keyframes show-bottomBar {
      0% {
        @include transform(translateY(100%));
      }
      100% {
        @include transform(translateY(0));
      }
    }

    @-webkit-keyframes show-bottomBar {
      0% {
        @include transform(translateY(100%));
      }
      100% {
        @include transform(translateY(0));
      }
    }

    #footer {
      height:100%;
      font-size: 12px;
      color:white;

      #copyright {
        display: inline-block;
        margin-left:29px;
        vertical-align: middle;
      }
    }
  }

  .center {
    display: inline-block;
    vertical-align: middle;
    height:100%;
  }

  img {
    width:100%;
    height:auto;
  }
}




@media only screen
and (min-width : 1700px) {
  #topBar {
    ul {
      li {
        .content {
          .titles {
            font-size: 20px !important;
          }

          #icon1 {
            width: 38px !important;
            height: 38px !important;
          }

          #icon2 {
            width: 48px !important;
            height: 38px !important;
          }

          #icon3 {
            width: 38px !important;
            height: 38px !important;
          }

          #icon4 {
            width: 23px!important;
            height: 38px!important;
          }

          #icon5 {
            width: 37px!important;
            height: 38px!important;
          }
        }
        &:hover .icons {
          background-position: 0 -38px !important;
        }

        &.chosen .icons {
          background-position: 0 -38px !important;
        }
      }
    }
  }

  .emailForm {
    font-size: 20px;
    font-family: din-mittelschrift-regular, din-bold, Helvetica;
    -webkit-font-smoothing: antialiased;

    p {
      width:80%;
      font-size: 18px !important;
      font-family: din-mittelschrift-regular, din-bold, Helvetica;
    }

    .myInput {
      font-size: 17px !important;
      line-height: 32px !important;
      color:#f37421
    }

    .submitBtn {
      //width: 135px !important;
      //height: 34px !important;
      //font-family: din-mittelschrift-regular, din-bold;
    }
  }

  .pairs {
    .contentText {
      .desc {
        width: 67%;
      }
      .contentButton {
        &-text {
          font-size: 16px !important;
        }
      }
    }

    .videoIcon {
      width: 14% !important;
    }
    .map {
      .button-unit {
        .buttonTitle {
          font-size: 25px !important;
          line-height: 24px !important;
        }

        .buttonText {
          font-size: 21px !important;
        }
      }
    }
    .detail {
      .content {
        .title {
          text-transform: uppercase;
        }
      }

      .opening {
        .title {
          font-size: 48px !important;
        }

        p {
          font-size: 20px !important;
        }
      }

      .retail, .demographics, .ecommerce, .malls {
        .title {
          font-size: 34px !important;
        }

        .box {
          h3 {
            font-size: 25px !important;
          }
          p {
            font-size: 20px !important;
          }
        }
      }
    }
  }

  .panel {
    .contents {
      &-video {
        .panelText {
          .title {
            font-size: 40px !important;
            height:auto;
          }
        }
      }

      .panelText {
        .title {
          font-size: 40px !important;
          height: 128px !important;
        }
        .seperator {
          height: 0px !important;
        }


        .desc {
          font-size: 20px !important;
        }
      }

      .panelImage {
        .socialIcons {
          height: 120px !important;
        }
      }
    }

    .panelClose {
      width: 56px !important;
    }

    .scroll {
      font-size: 20px!important;
    }
    .desc {
      font-size: 20px !important;
    }
  }
}


@media only screen
and (min-width : 1500px)
and (max-width : 1699px){
  #wrapper #topBar ul li .content .titles {
    font-size: 14px !important;
  }

  .emailForm {
    p {
      font-size: 17px !important;
    }
  }
}


@media only screen
and (min-width : 1200px)
and (max-width : 1699px){
  .mainView {
    .contentText {
      .title {
        font-size: 20px !important;
      }

      .desc {
        font-size: 16px !important;
        line-height: 18px !important;
        width:85%;
      }
    }
  }

  .scroll {
    font-size: 17px!important;
  }

  .panel {
    .panelText {
      .title {
        font-size: 24px !important;
      }

      .desc {
        font-size: 15px !important;
        line-height: 17px !important;
      }
    }
  }

  .buttonTitle {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .buttonContent {
    font-size: 15px !important;
  }

  .emailForm {
    p {
      font-size: 14px !important;
    }
  }
}


@media only screen
and (min-width : 992px)
and (max-width : 1199px) {
  .mainView {
    .contentText {
      .title {
        font-size: 20px !important;
      }

      .desc {
        font-size: 11px !important;
        width:75%;
        line-height: 15px !important;
      }
    }
  }

  .scroll {
    font-size: 11px!important;
  }

  .panel {
    .panelText {
      .title {
        font-size: 24px !important;
      }

      .desc {
        font-size: 11px !important;
        line-height: 15px !important;
      }
    }
  }

  .buttonTitle {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .buttonContent {
    font-size: 13px !important;
  }

  .emailForm {
    p {
      font-size: 11px !important;;
      line-height: 13px !important;
    }

    .myInput {
      font-size: 11px !important;
      line-height: 13px !important;
    }

    .submitBtn {
      //width: 92px !important;;
      //height: 21px !important;;
    }
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #middleBar {
    #homePage {
      background: url(./../images/bg-half.jpg) 50% 50% no-repeat !important;
    }
  }

  .mainView {
    .contentText {
      .title {
        font-size: 20px !important;
      }

      .desc {
        font-size: 11px !important;
        line-height: 15px !important;
      }
    }
  }

  .scroll {
    font-size: 11px!important;
  }

  .panel {
    .panelText {
      .title {
        font-size: 21px !important;
      }

      .desc {
        font-size: 11px !important;
        line-height: 15px !important;
      }
    }
  }

  .button-unit {
    .buttonTitle {
      font-size: 13px !important;
      line-height: 16px !important;
    }

    .buttonContent {
      font-size: 11px !important;
    }

    .buttonDetail {
      .buttonDetailText {
        font-size: 10px !important;
      }
    }
  }

  .emailForm {
    .contents {
      margin-top: 2% !important;
    }

    p {
      font-size: 9px !important;
      line-height: 13px !important;
      padding: 1% !important;
    }

    .myInput {
      font-size: 9px !important;
      line-height: 13px !important;
    }

    .submitBtn {
      //width: 92px !important;
      //height: 21px !important;
      //bottom: 13% !important;
    }
  }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .mainView {
    .contentText {
      .title {
        font-size: 20px !important;
      }

      .desc {
        font-size: 11px !important;
        line-height: 15px !important;
      }
    }
  }

  .scroll {
    font-size: 20px!important;
  }

  .panel {
    .panelText {
      .title {
        font-size: 20px !important;
      }

      .desc {
        font-size: 11px !important;
        line-height: 15px !important;
      }
    }
  }

  .button-unit {
    .buttonTitle {
      font-size: 10px!important;
      line-height: 12px!important;
    }

    .buttonContent {
      font-size: 8px !important;
    }

    .buttonDetail {
      .buttonDetailText {
        font-size: 8px !important;
      }
    }
  }


}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .mainView {
    .contentText {
      .title {
        font-size: 20px !important;
      }

      .desc {
        font-size: 11px !important;
        line-height: 15px !important;
      }
    }
  }


  .scroll {
    font-size: 11px!important;
  }

  .buttonTitle {
    font-size: 13px !important;
    line-height: 16px !important;
  }

  .buttonContent {
    font-size: 11px !important;
  }
}

@media only screen
and (min-width : 2200px) {
  #topBar ul li .content .titles {
    font-size: 23px !important;
  }

  .pairs .map .button-unit .buttonText {
    font-size: 25px !important;
  }

  .pairs .map .button-unit .buttonTitle {
    font-size: 30px!important;
    line-height: 32px!important;
  }

  #wrapper #middleBar #pagesApp .info .map .buttons .button-unit .buttonContainer .buttonDetail .buttonDetailContainer {
    font-size: 23px !important;
  }

  .pairs {
    .detail {
      .content {
        .title {
          text-transform: uppercase;
        }
      }

      .opening {
        .title {
          font-size: 48px !important;
        }

        p {
          font-size: 25px !important;
        }
      }

      .retail, .demographics, .ecommerce, .malls {
        .title {
          font-size: 46px !important;
        }

        .box {
          h3 {
            font-size: 30px !important;
          }
          p {
            font-size: 25px !important;
          }
        }
      }
    }

    .contentText .desc {
      font-size: 24px !important;
      width: 75% !important;
    }

    .contentText .contentButton-text {
      font-size: 24px !important;
    }
  }

  .panel {
    .contents {
      &-video {
        .panelText {
          .title {
            font-size: 40px !important;
            height:auto;
          }
        }
      }

      .panelText {
        .title {
          font-size: 40px !important;
          height: 128px !important;
        }
        .seperator {
          height: 0px !important;
        }


        .desc {
          font-size: 26px !important;
        }
      }

    }

    .scroll {
      font-size: 26px!important;
    }
    .desc {
      font-size: 26px !important;
    }
  }

  .emailForm {


    p {
      font-size: 27px!important;
    }

    .myInput {
      font-size: 29px!important;
      line-height: 31px!important;
    }

    .submitBtn {
      //font-size: 29px !important;
      //width: 274px!important;
      //height: 46px!important;
    }
  }
}



#updateBrowser {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #000000;
  color: #fff;
}
#updateBrowser .content {
  margin-top: 100px;
}
#updateBrowser .content a {
  color: #fff;
}

//vimeo

.player .title {
  display: none !important;
}

::-webkit-input-placeholder {
  color:    #f37421;
}
:-moz-placeholder {
  color:    #f37421;
}
::-moz-placeholder {
  color:    #f37421;
}
:-ms-input-placeholder {
  color:    #f37421;
}


/*device bigger than 320 and smaller than width - 800*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  #wrapper {
    min-width: 0px;
  }

  #section1 {
    min-width: 320px;
  }

  #section1 #bioDesc {
    position: absolute;
    width: 70%;
    left: 8%;
    top: 46%;
  }

  #section1 #bioDesc p {
    font-size: 11px;
    color: white;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: lighter;
  }

  #section3 #contacts {
    top: 59%;
  }

  #subMenu {
    display: none;
    z-index: 99;
    opacity: 0;
    top: 50%;
    position: absolute;
    right: 7.6%;
    height:auto;
  }

  #section2 #fullscreen #fullscreenIcon {
    display: none;
  }
}

/*device bigger than 481
@media only screen and (min-width : 801px) {
  #wrapper {
    min-width: 700px;
  }

  #section1 {
    min-width: 700px;
  }
}*/

